apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-app
  labels:
    app: demo-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: demo-app
  template:
    metadata:
      labels:
        app: demo-app
    spec:
      containers:
      - name: demo-app
        image: <your_ecr_repo_url>:latest  # Replace with your actual ECR image URL
        ports:
        - containerPort: 8000
        imagePullPolicy: Always
