apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo-app
  labels:
    app: demo-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: demo-app
  template:
    metadata:
      labels:
        app: demo-app
    spec:
      containers:
      - name: demo-app
        image: 629965575604.dkr.ecr.us-east-1.amazonaws.com/my-repo-1:latest  # Replace with your actual ECR image URL
        ports:
        - containerPort: 3000
        imagePullPolicy: Always
